.currency-select {
    position: relative;
}
.currency-select ul {
    position: absolute;
    top: 57px;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
    pointer-events: none;
    transition: all .3s ease;
    background-color: var(--overlay);
    box-shadow: 0 5px 5px 0 var(--shadow);
}
.currency-select:active ul,
.currency-select ul:hover,
.currency-select:hover ul {
    opacity: 1;
    max-height: 200px;
    pointer-events: all;
}
