.product-details {
    display: flex;
    flex-flow: row nowrap;
}
.product-details .description {
    margin: 10px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
}
.product-details .description .btn {
    max-width: 250px
}
.product-details .description p {
    white-space: pre-wrap;
}
.product-details .description h4 {
    color: var(--main)
}

@media (max-width: 890px) {
    .product-details {
        flex-flow: column wrap;
    }
}
